<!-- <div class="card mb-2">
  <div class="card-body">
    <h5 class="card-title">{{ singletodo.todo}}</h5>
    <h5 class="card-title">{{ singletodo.id}}</h5>

  </div>
</div> -->
<!-- <div class="card mb-2">
<div *ngIf="todo">
  <h2>{{ todo.todo }}</h2>
  <p>Completed: {{ todo.completed }}</p>
</div>

</div> -->

<div class="card">
  <div class="card-header">
    Todo Details
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ todo.todo }}</h5>
    <!-- <p class="card-text">{{ todo.description }}</p> -->
    <!-- <p class="card-text"><small class="text-muted">{{ todo.date }}</small></p> -->
  </div>
</div>
