<div class="container mt-5 bg-dark p-5">
  <h1 class="text-center text-white">So What we Gonne Do </h1>

  <div class="row py-5 mx-auto">

    <div class="col-md-8 mx-auto">


      <form (ngSubmit)="onSubmit()">
        <div class="form-group ">

          <input type="text" class="form-control w-75  formcheck" placeholder="Add a new to-do" [(ngModel)]="newTodo" name="newTodo">
          <button type="submit" class="btn btn-success inline mx-auto">Add</button>

        </div>


      </form>

      <hr>

      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search to-do list" [(ngModel)]="searchTerm" name="searchTerm">
      </div>

      <hr>

      <ul class="list-group">
        <li class="list-group-item" *ngFor="let todo of filteredTodos">
          <div class="form-check d-flex justify-content-between">
            <input type="checkbox" class="form-check-input" [(ngModel)]="todo.completed" name="completed">
            <label class="form-check-label" [class.completed]="todo.completed">{{ todo.todo }}</label>
            <button type="button" class="btn btn-danger btn-sm " (click)="delete(todo)">Delete</button>

          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
