<footer class="footer mt-auto py-3 bg-black mt-5">
  <div class="container">
    <span class="text-center text-white"
      >Copyright &copy; 2023 <a class="text-white">iti</a> All rights
      reserved.</span
    >
    <span> design by </span>
    <span class="text-white"
      >Mahmoud Mohamed MAhmoud Awd &amp; Ahmed samy salah</span
    >
    <br />
    <a
      class="text-white"
      href="https://github.com/Mahmoudawd4/lab1BasicTodoListByAngulaer"
    >
      github link
    </a>
    <!-- <div class="battery">
      <i class="fas fa-battery-full"></i>
      <span>{{ batteryLevel }}%</span>
    </div> -->

    <!-- <div class="container">
      <p>Battery Level: {{ batteryLevel }}%</p>
    </div> -->
    <!-- <i class="fa fa-battery-full"></i> Battery Level: {{batteryLevel}}% -->
  </div>
</footer>
