<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>



        <li class="nav-item">
          <a
            routerLink="/favorites"
            routerLinkActive="active"
            class="nav-link">
            <i class="fa fa-heart"> </i>
            Favorites ({{ favoritesCount() }})
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/deleted"
            routerLinkActive="active"
            class="nav-link">
            <i class="fa fa-trash"></i>
            Deleted ({{ deletedCount() }})
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link">
            <i class="fa fa-check"></i>
            Completed ({{ completedPercentage() }}%)
          </a>
        </li>

      </ul>
      <div class="d-flex align-items-center">
        <img src="assets/user.png" alt="user image" width="40" height="40">
        <button class="btn btn-outline-success ms-3" routerLink="/login" routerLinkActive="active">
          <i class="bi bi-person-circle"></i> login
        </button>

        <button class="btn btn-outline-danger ms-3" (click)="onLogout()">
          <i class="bi bi-box-arrow-right"></i> Logout
        </button>
      </div>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" >Todo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/favorites" routerLinkActive="active" class="nav-link">
            <i class="fa fa-heart"> </i>
            Favorites ({{ favoritesCount() }})
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/deleted" routerLinkActive="active" class="nav-link">
            <i class="fa fa-trash"></i>
            Deleted ({{ deletedCount() }})
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link">
            <i class="fa fa-check"></i>
            Completed ({{ completedPercentage() }}%)
          </a>
        </li>
      </ul>
      <!-- <div class="d-flex align-items-center">
        <ng-container *ngIf="currentUser; else showLogin">
          <img src="../../assets/img.jpg" alt="user image" width="40" height="40">
          <p class="me-3 mb-0">{{currentUser}}</p>
          <button class="btn btn-outline-danger ms-3" (click)="onLogout()">
            <i class="bi bi-box-arrow-right"></i> Logout
          </button>
        </ng-container>
        <ng-template #showLogin>
          <button class="btn btn-outline-success ms-3" routerLink="/login" routerLinkActive="active">
            <i class="bi bi-person-circle"></i> Login
          </button>
        </ng-template>
      </div> -->
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <!-- Other Navbar Items -->
        <li class="nav-item">
          <div class="d-flex align-items-center">
            <ng-container *ngIf="loggedIn; else showLogin">
              <img src="../../assets/img.jpg" alt="user image" width="40" height="40">
              <p class="me-3 mb-0">{{currentUser}}</p>
              <button class="btn btn-outline-danger ms-3"  routerLink="/login" (click)="onLogout()">
                <i class="bi bi-box-arrow-right"></i> Logout
              </button>
            </ng-container>
            <ng-template #showLogin>
              <button class="btn btn-outline-success ms-3" routerLink="/login" routerLinkActive="active">
                <i class="bi bi-person-circle"></i> Login
              </button>
              <button class="btn btn-outline-success ms-3" routerLink="/register" routerLinkActive="active">
                <i class="bi bi-person-circle"></i> register
              </button>
            </ng-template>
          </div>
        </li>
      </ul>

      <!-- <div class="d-flex align-items-center">
        <ng-container *ngIf="isLoggedIn; else showLogin">
          <img src="../../assets/img.jpg" alt="" width="40" height="40" class="rounded-circle me-3">
          <p class="me-3 mb-0">{{currentUser}}</p>
          <button class="btn btn-outline-danger ms-3" (click)="onLogout()">
            <i class="bi bi-box-arrow-right"></i> Logout
          </button>
        </ng-container>
        <ng-template #showLogin>
          <button class="btn btn-outline-success ms-3" routerLink="/login" routerLinkActive="active">
            <i class="bi bi-person-circle"></i> Login
          </button>
        </ng-template>
      </div> -->
    </div>
  </div>
</nav>
