<!-- <li class="list-group-item"> -->
    <!-- <div class="form-check d-flex justify-content-between"> -->
      <!-- <input type="checkbox" class="form-check-input" [(ngModel)]="todo.completed" name="completed"> -->
      <!-- <label class="form-check-label" [class.completed]="todo.completed">{{ todo.todo }}</label> -->

      <!-- <button type="button" class="btn btn-danger btn-sm " (click)="delete(todo)">Delete</button> -->
      <!-- <button type="button" class="btn btn-success btn-sm " >show</button> -->
      <!-- <button type="button" class="btn btn-danger btn-sm " >Favorite</button> -->



      <!-- </div>
    </div>

  </li> -->
  <div class="card">
    <div class="card-header">
      Favorite Todos
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let todo of favoriteTodos">
          {{ todo.todo }}
          <!-- <button class="btn btn-danger btn-sm float-right" (click)="delete(todo)">
            <i class="fa fa-trash"></i>
          </button> -->
        </li>
      </ul>
    </div>
  </div>
